.transbox {
    opacity: 0.6;
    background-color: #b9b9b9
}

.CBEbox {
    h1 {color: blue;
    margin-left: 850px;
    font-size: 40px;
   
    }
  p  {
        font-family: verdana;
        font-weight: bold;
        font-size: 15px;
        color: #6495ED;
        /*background-color: #ADD8F9;*/
    }

}

