.transbox {
    /* opacity: 0.0; */
    /*background-color: #c9c9c9 */
    color: #6495ED;
    font-size:25x;
}

.CBEbox {
    h1 {color: blue;
    font-size: 60px;
<<<<<<< HEAD
    
   
=======
   text-align: center;
>>>>>>> origin/main
    }
  p  {
        font-family: verdana;
        font-weight: bold;
        font-size: 30px;
        color: #6495ED;
        /*background-color: #ADD8F9;*/
    }
    

}

h2 {
    text-align: center;
}




.container {
    text-align: center;
    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month {
    font-size: 30px;
    margin: 0 20px;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
}

.arrow:hover {
    color: #FFD700; /* Change color when hovering over the arrow */
}

.script {
    
}