.transbox {
    opacity: 0.6;
    background-color: #b9b9b9
}

.CBEbox {
    color: blue;
    margin-left: 20px;
  p  {
        font-family: verdana;
        font-weight: bold;
        font-size: 10px;
        color: #6495ED;
        /*background-color: #ADD8F9;*/
    }

}

